.itemCard{
    display: flex;
    flex-direction: column;
    background-color:#DEE3ED;
    width: 27rem;
    height: 27rem;
    padding: 9rem 3rem;
    margin:4rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 0.8rem;
    box-shadow: 0px 10px 27px -7px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 10px 27px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 27px -7px rgba(0,0,0,0.75);
}
.itemTitle{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}
.itemImage{
    width: 9rem;
}